<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div clas="container app">
  <div class="row">
    <div class ="col-sm-8">
        <h1 class="text-center"> {{title}} </h1>      
    </div>

    <div class="col-sm-4">
      <div class="alert alert-success  alert-dismissable " *ngIf="Msg">
         <a href="#" class="close"(click)=closeAlert()> 
           &times;
         </a>
         {{Msg}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-4">
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> 
     </div>
     <div class ="col-sm-8">
      <h2> Create Data</h2>  
       <form class="form-horizontal">
         <div clas="form-group">
           <label for="name" clas="control-label col-sm-2"> 
             Name
           </label>
           <div class="col-sm-10">
              <input type="text" name="name" value="" 
              class="form-control" id="name" 
              [(ngModel)]="model.name" placeholder=" Add Name">
           </div>
         </div>
         <div clas="form-group">
          <label for="position" clas="control-label col-sm-2"> 
            Position
          </label>
          <div class="col-sm-10">
             <input type="text" name="position" value="" 
             class="form-control" id="position" 
             [(ngModel)]="model.position" placeholder=" Add position">
          </div>
        </div>

        <div clas="form-group">
          <label for="email" clas="control-label col-sm-2"> 
            Email
          </label>
          <div class="col-sm-10">
             <input type="text" name="email" value="" 
             class="form-control" id="email" 
             [(ngModel)]="model.email" placeholder=" Add email">
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn btn-success" (click)="addEmploye()" >
              save
            </button>
          </div>
        </div>   
       </form>
     </div>
    </div> 
 <div class="row">
   <div class="col-sm-8">
     <h2>Read data </h2>
     <table class ="table table-bordered"> 
       <thead>
         <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Email</th>
          <th>Actions</th>   
         </tr>
       </thead>
       <tbody>
          <tr *ngFor="let employee of employes; let i = index">
            <td>{{employee.name}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.email}}</td>
            <td>
               <a (click) ="editEmploye(i)" class="btn btn-success">
                 Edit
               </a>
               <a (click) ="deleteEmploye(i)" class="btn btn-danger">
                  Delete
               </a>
             </td> 
          </tr>
       </tbody>  
     </table>
   </div>
   <div class ="col-sm-4"  [hidden]="hideUpdate">
      <h2> Update Data</h2>  
       <form class="form-horizontal">
         <div clas="form-group">
           <label for="name" clas="control-label col-sm-2"> 
             Name
           </label>
           <div class="col-sm-10">
              <input type="text" name="name" value="" 
              class="form-control" id="name" 
              [(ngModel)]="model2.name" placeholder=" Add Name">
           </div>
         </div>
         <div clas="form-group">
          <label for="position" clas="control-label col-sm-2"> 
            Position
          </label>
          <div class="col-sm-10">
             <input type="text" name="position" value="" 
             class="form-control" id="position" 
             [(ngModel)]="model2.position" placeholder=" Add position">
          </div>
        </div>

        <div clas="form-group">
          <label for="email" clas="control-label col-sm-2"> 
            Email
          </label>
          <div class="col-sm-10">
             <input type="text" name="email" value="" 
             class="form-control" id="email" 
             [(ngModel)]="model2.email" placeholder=" Add email">
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn btn-success" (click)="updateEmploye()" >
              Update
            </button>
          </div>
        </div>   
       </form>
     </div> 
</div>


 


